$color-white : #fff;
$color-red : #CC4600;
$color-error : #CC4600;
$color-yellow: #FFDB1A;
$color-green : #86CC00;
$color-success : #86CC00;


$color-text : #404040;
$color-lightgrey: #eee;
$color-mediumgrey: #ddd;
$color-darkgrey: #A9A9A9;

$color-link: #199ed8;
$color-button: #199ed8;
$color-disabled-button: #E6E6E6;


$color-form-border: #A9A9A9;
$color-form-text-placeholder: 	#C0C0C0;


