.form-group {
	display: flex;
	flex-direction: column;
}

 label {
 	font-family: $font-family-bold;
	max-width: 100%;
	display: block;
	margin: 0px 0px 10px 0px;
}


[type=color], [type=date], [type=datetime-local],
[type=datetime], [type=email], [type=month],
[type=number], [type=password], [type=search],
[type=tel], [type=text], [type=time],
[type=url], [type=week], select, textarea {
	display: block;
	border: 1px solid $color-form-border;
	border-radius: 0px;
	padding: .75rem;
	outline: none;
	background: transparent;
	margin-bottom: 20px;
	font-size: $font-size-base;
	width: 100%;
	max-width: 100%;
	line-height: 1;
	height: 45px;
	&::placeholder {
		color: $color-form-text-placeholder;
		opacity: 1; 
	}

	&:-ms-input-placeholder { 
		color: $color-form-text-placeholder;
	}

	&::-ms-input-placeholder {
		color: $color-form-text-placeholder;
	}
	&.error {
		border: 1px solid $color-error;
	}
	&.success {
		border: 1px solid $color-success;
	}
 }


 select {
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	background: url("../img/formSelectArrow.png") no-repeat right;
	padding-right: 30px;
 }



 label.myAccount-form-checkbox{
	display: inline;
	font-size: $font-size-small;
	line-height: 1.3em;
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 20px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

 }



.myAccount-form-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}


.myAccount-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border: 1px solid $color-form-border;
}




.myAccount-form-checkbox input:checked ~ .myAccount-checkmark {
	background-color: $color-button;
}


.myAccount-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}


.myAccount-form-checkbox input:checked ~ .myAccount-checkmark:after {
	display: block;
}


.myAccount-form-checkbox .myAccount-checkmark:after {
	left: 7px;
	top: 4px;
	width: 5px;
	height: 10px;
	border: solid $color-white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



.myAccount-password {
	display: flex;
	flex-wrap: wrap;
	&.error {
		input {
			border-right: none;
			border-color: $color-error;
			margin-bottom: 0px;
			flex: 0 0 75%;
		}
		p {
			margin-top: 20px;
			color: $color-error;
		}
	}

	&.success {
		input {
			border-right: none;
			border-color: $color-success;
			margin-bottom: 0px;
			flex: 0 0 75%;
		}
	}

	input {
		border-right: none;
		margin-bottom: 0px;
		flex: 0 0 75%;
	}
	button {
		flex: 0 0 25%;
		margin-bottom:0px;
		height: 45px;
	}
	small a, small p {
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 10px;
		flex: 0 0 100%;
	}
}




.password-meter-container {
  text-align: center;
  margin-bottom: 20px;
  p {
    margin-bottom: 0px;
  }

}


.password-meter {
	flex: 0 0 100%;
	overflow: none;
	height: 10px;
	margin-bottom: 40px;
	background-color: $color-mediumgrey;
	border-radius: none;
	box-shadow: none;
}

.password-meter-body {
	display: block;
	margin-top:5px;
}


.password-meter-bar {
  width: 0%;
  height: 100%;
  text-align: center;
  background-color: transparent;
  float: none;
  box-shadow: none;
  -webkit-transition: width .6s;
  transition: width .6s;
  transition-timing-function: ease;
}




.password-meter-bar-success {
  background-color: $color-green;
}

.password-meter-bar-warning {
  background-color: $color-yellow;
}

.password-meter-bar-danger {
  background-color: $color-red;
}





ul.myAccount-password-instruction {
	list-style-type: none;
	margin:0px 0px 20px 0px;
	padding:0px;
	li {
		margin:0px 0px 5px 0px;
		display: flex;
		align-items: center;
		&.success {
			.check-mark__wrapper {
				border: 2px solid $color-green;
				.check-mark {
					background-color: $color-green;
				}
			}       
		}
		&.error {
			.check-mark__wrapper {
				border: 2px solid $color-red;
				.check-mark {
					background-color: $color-red;
				}
			}       
		}
	}
	p {
		display: inline-block;
		margin-bottom: 0px;
		font-size: $font-size-xsmall;
	}
}

.check-mark__wrapper {
	width: 17px;
	height: 17px;
	margin: 0px 5px 0px 0px;
	border: 2px solid $color-text;
	border-radius: 50%;
	display: inline-block;
	overflow: hidden;
}


.check-mark {
	position: relative;
	width: 5px;
	height: 9px;
	margin-left: 4px;
	margin-bottom: 0px;
	margin-top: 1px;
	background-color: $color-text;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.check-mark::before {
	content: "";
	display: block;
	position: absolute;
	top: -1px;
	right: 2px;
	z-index: 10;
	width: 5px;
	height: 8px;
	background-color: $color-white;
}



